/node_modules
/templates/laravel-inertia-app/appfront/assets/static/routes-config.js
/templates/**/*.js
/templates/**/*.ts
/tests/__fixtures/**/*.css
/tests/__fixtures/**/*.json
/tests/__fixtures/**/*.html
/tests/__snapshots/**/*.css
/tests/__snapshots/**/*.json
/tests/__snapshots/**/*.html
/dist
/dist-ssr
/.coverage
/.temp
/.vic
*.vic
!.prettierrc.json
