# *
# !/resources/js
# !/stubs

/.husky
/.vic
/app
/bootstrap
/config
/database
/node_modules
/public
/resources/assets
/resources/css
/resources/lang
/resources/views
/resources/ts/vendor
/resources/tests/vitest/.coverage
/resources/tests/playwright/.test-results
/routes
/storage
/tests
/vendor
_ide_helper_models.php
_ide_helper.php
*.vic
*.php
package-lock.json
composer.lock
!.prettierrc.json
!.blade.php
