*.vic
_ide_helper_models.php
_ide_helper.php
package-lock.json
composer.lock
/.vic
# /.vscode
/bootstrap/ssr
/config
# /database
/node_modules
/public
/storage
/stubs
/tests/playwright/.report
/tests/playwright/.test-results
/tests/vitest/.coverage
/vendor
