/.husky
/.vic
/app
/appfront/vendor
/appfront/assets
/bootstrap
/config
/database
/node_modules
/public
/routes
/storage
/stubs
/tests
/vendor
_ide_helper_models.php
_ide_helper.php
*.vic
*.php
.phpstorm.meta.php
package-lock.json
composer.lock
!.prettierrc.json
!.blade.php
